.svn/
*.obj
ui_*.h
moc_*.cpp
*.Debug
*.exp
*.idb
*.ncb
*.pdb
*.Release
Makefile*
*.suo
*.user
*.user1
*marking
*lisconfig
*.cfg
*diagnostics
*.htm
*.db
**/GeneratedFiles/
**/Build_win32/
**/Build_64/
**/Build_x64/
*.log
*.user.*
**/debug/
*.stash
*.res

